# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xakrgttmndgshkltbxzj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhha3JndHRtbmRnc2hrbHRieHpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMTM1OTYsImV4cCI6MjA4OTY4OTU5Nn0.fF4OWHUEWyxAfeIBUQ4QU_hkgr0o_SZFkBAEJh1OIC8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhha3JndHRtbmRnc2hrbHRieHpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDExMzU5NiwiZXhwIjoyMDg5Njg5NTk2fQ.23lHjEzqkqdywVRxoRd1LddxvhHXcafqBpUpV8hL1U0
